@tailwind base;

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #414B57;
}

@tailwind components;
@tailwind utilities;
